{% extends "@FOSUser/layout.html.twig" %}
{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}

    <h1 class="m-b-lg">Your 2fa tokens</h1>


    <div class="col-sm-6 b-r p-w-lg">
        <h2>FIDO</h2>
        {% if fido_tokens|length %}
            {{ dump(fido_tokens) }}
            Webauthn method is enabled.
            <div class="form-group">
                <a href="{{ path('app_webauthn_delete') }}" class="btn btn-danger pull-right">Delete token</a>
            </div>
        {% else %}
        <div class="form-group">
            <a href="{{ path("app_webauthn_register") }}" class="btn btn-primary pull-right">Register token</a>
        </div>
        {% endif %}
    </div>
    <div class="col-sm-6 p-w-lg">
        <h2>TOTP</h2>

        {% if app.user.isTotpAuthenticationEnabled %}
            TOTP method is enabled.
            <div class="form-group">
                <a href="{{ path('app_totp_delete') }}" class="btn btn-danger pull-right">Delete token</a>
            </div>
        {% else %}
        <div class="form-group">
            <a href="{{ path('app_totp_register') }}" class="btn btn-primary pull-right">Register token</a>
        </div>
        {% endif %}

    </div>


    {% if error is defined and error %}
        <div class="alert alert-danger alert-dismissible">
            {{ error.messageKey|trans(error.messageData, 'security') }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <div class="clearfix"></div>

{% endblock %}