{% extends "@FOSUser/layout.html.twig" %}
{% block fos_user_content %}
{% trans_default_domain 'FOSUserBundle' %}
<h1>Login</h1>
<div class="pull-right">
	for domain: <strong>{{ domain }}</strong>
</div>
{% if error is defined and error %}
    <div class="alert alert-danger alert-dismissible">
    	{{ error.messageKey|trans(error.messageData, 'security') }}
    	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
    </div>
{% endif %}

<form  class="form-horizontal" action="{{ path("idpuser_login_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <input style="margin-top: 12px;"
        class="form-control"
    	type="text"
    	id="username"
    	name="_username"
        value="{% if last_username|length %}{{ last_username }}{% endif %}"
        placeholder="{{ 'security.login.username'|trans }}"
    	required="required" />

    <input style="margin-top: 12px;"
        class="form-control"
        type="password"
        id="password"
        name="_password"
        placeholder="{{ 'security.login.password'|trans }}"
        required="required"/>

	<div style="margin-top: 12px;">
		<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
		<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
	</div>
    <input class="btn btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>

<a href="{{ path('idpuser_resetting_request', {domain: domain}) }}">{% trans %}Forgot password?{% endtrans %}</a>
{% endblock %}
